<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/csvreader.css}" rel="stylesheet" >
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>CSV Reader</title>
</head>
<body>
<div class="container">
    <div class="title" style="font-family: 'Amaranth';">
        <p><a class="text-decoration-none text-dark" th:href="@{/}">CSV Reader</a></p>
    </div>
    <div class="buttons">
        <a class="text-decoration-none text-dark" th:href="@{/add}"><button type="submit" class="btn btn-light border">Add</button></a>
        <a class="text-decoration-none text-dark" th:href="@{/users}"><button type="submit" class="btn btn-light border">Users</button></a>
        <a class="text-decoration-none text-dark" th:href="@{/search}"><button type="submit" class="btn btn-light border">Search</button></a>
        <a class="text-decoration-none text-dark" th:href="@{/api}" target="_blank"><button type="submit" class="btn btn-light border">API</button></a>
        <p>To search by last name go to ../search/{last_name}</p>
    </div>
    <div class="container">
        <h3 style="font-family: 'Amaranth';" th:text="'Users: ' + ${totalUsers}"/>
    </div>
    <div class="container pt-4" th:if="${!oldestUser.isEmpty()}">
        <h3 style="font-family: 'Amaranth';">Oldest user: </h3>
        <table class="table table-striped">
            <thead>
            <th>Name</th>
            <th>Surname</th>
            <th>Birth Date</th>
            <th>Phone Number</th>
            </thead>
            <tbody>
            <tr>
                <td th:text="${oldestUser.get(0).firstName}"></td>
                <td th:text="${oldestUser.get(0).lastName}"></td>
                <td th:text="${oldestUser.get(0).date}"></td>
                <td th:text="${oldestUser.get(0).phoneNumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="copyright py-4 text-center text-dark">
        <div class="container"><small>Copyright © Piotr Wasilewski 2021</small></div>
    </div>
</div>

</body>
</html>