<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/csvreader.css}" rel="stylesheet" >
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>CSV Reader</title>
</head>
<body>
<div class="title" style="font-family: 'Amaranth';">
    <p><a class="text-decoration-none text-dark" th:href="@{/}">CSV Reader</a></p>
</div>
<div class="buttons">
    <a class="text-decoration-none text-dark" th:href="@{/add}"><button type="submit" class="btn btn-light border">Add</button></a>
    <a class="text-decoration-none text-dark" th:href="@{/users}"><button type="submit" class="btn btn-light border">Users</button></a>
    <a class="text-decoration-none text-dark" th:href="@{/api}" target="_blank"><button type="submit" class="btn btn-light border">API</button></a>
</div>
<div class="container pt-4">
    <form action="#" method="post" th:action="@{/search/success/{name}(name=${search.search})}" th:object="${search}">
        <div class="row g-3 align-items-center justify-content-center">
            <div class="col-auto">
                <input type="text" name="name" th:value="*{search}" placeholder="Input last name"/>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-light border">Search</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>