<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/csvreader.css}" rel="stylesheet" >
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>CSV Reader</title>
</head>
<body>
<div class="container">
    <div class="title" style="font-family: 'Amaranth';">
        <p><a class="text-decoration-none text-dark" th:href="@{/}">CSV Reader</a></p>
    </div>
    <div class="buttons">
        <a class="text-decoration-none text-dark" th:href="@{/users}"><button type="submit" class="btn btn-light border">Users</button></a>
        <button type="submit" class="btn btn-light border">Search</button>
        <button type="submit" class="btn btn-light border">API</button>
    </div>
    <div class="input_form pt-4">
        <form id="uploadForm" th:action="@{/upload}" method="POST" enctype="multipart/form-data">
            <label for="file">File</label>
            <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
            <p class="pt-4"><button type="submit" class="btn btn-light border">Upload</button></p>
        </form>
    </div>
    <div class="status">
        <div class="alert alert-danger" role="alert" th:if="${!status}">
            <strong>Error:</strong>
            <span th:text="${errorMessage}"></span>
        </div>
        <div th:if="${!warningStatus}">
            <div class="alert alert-success" role="alert" th:if="${status}">
                <strong>Success:</strong>
                <span th:text="${successMessage}"></span>
            </div>
        </div>
        <div th:if="${warningStatus}">
            <div class="alert alert-warning" role="alert" th:if="${status}">
                <strong>Warning:</strong>
                <span th:text="${warningMessage}"></span>
            </div>
        </div>
        <table class="table table-striped" th:if="${status}">
            <thead>
                <th>Number</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Birth Date</th>
                <th>Phone Number</th>
            </thead>
            <tbody>
            <tr th:each="user, i : ${users}">
                <th scope="row" th:text="${i.index + 1}"></th>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.date}"></td>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>